{{define "title"}}Home{{end}}

{{define "body"}}
<div class="uk-section-default">
  <div class="uk-container uk-container-small">
    <form class="uk-margin">
      <div class="uk-grid uk-grid-small">
        <div class="uk-width-1-2 uk-form-controls uk-margin">
          <label class="uk-form-label" for="spec-name">Commitment Name</label>
          <input class="uk-input" type="text" id="spec-name" name="comname" placeholder="Search...">
        </div>
        <div class="uk-width-1-4 uk-form-controls">
          <label class="uk-form-label" for="com-state">State</label>
          <select class="uk-select" id="com-state" name="commitmentState">
            <option value="created">Created</option>
            <option value="detached">Detached</option>
            <option value="expired">Expired</option>
            <option value="discharged">Discharged</option>
            <option value="violated">Violated</option>
          </select>
        </div>
        <div class="uk-width-1-4 uk-form-controls">
          <br />
          <button class="uk-button uk-button-primary uk-width-1-1" type="submit">Search</button>
          <input type="hidden" name="submitted" value="true">
        </div>
      </div>
      <hr />
    </form>

    {{ $specName := .SpecName }}
    {{ $state := .ComState }}
    {{ $source := .SpecSource }}

    <div id="commitments">
      {{ if not .Failed }}
        <div>
          <h4 class="uk-text uk-text-medium">{{ .NumComs }} {{ .ComState }} {{ .SpecName }} commitment(s) found:</h4>
          <table class="uk-table uk-table-hover uk-table-divider uk-table-striped">
            <thead>
              <tr>
                <th>Commitment ID</th>
                <th>Debtor</th>
                <th>Creditor</th>
                <th>Creation Date</th>
                <th>State</th>
              </tr>
            </thead>
            <tbody>
              {{ range $key, $value := .Coms }}
                {{ $createdData := (index $value.States 0).Data }}
                <tr uk-toggle="target: #{{ $createdData.debtor }}">
                  <td class="uk-text uk-text-small">{{ $createdData.comID }}</td>
                  <td class="uk-text uk-text-small">{{ $createdData.debtor }}</td>
                  <td class="uk-text uk-text-small">{{ $createdData.creditor }}</td>
                  <td class="uk-text uk-text-small">{{ $createdData.date }}</td>
                  <td class="uk-text uk-text-small">
                    {{ if or (eq $state "Expired") (eq $state "Violated") }}
                      <span class="uk-label uk-label-danger">{{ $state }}</span>
                    {{ else }}
                      <span class="uk-label uk-label-success">{{ $state }}</span>
                    {{ end }}
                  </td>
                </tr>
                <!-- Modal content -->
                <div id="{{ $createdData.debtor }}" uk-modal>
                  <div class="uk-modal-dialog">
                    <button class="uk-modal-close-default" type="button" uk-close></button>
                    <div class="uk-modal-header">
                      <h2 class="uk-modal-title">Commitment Data</h2>
                    </div>
                    <div class="uk-modal-body">
                      <div id="spec-summary">
                        <pre>{{ $source }}</pre>
                        <hr />
                      </div>
                      <div id="create-event-json">
                        Create Event Data: { <br />
                          {{ range $key, $item :=  $createdData }}
                            &emsp; {{ $key }}: {{ $item }},<br />
                          {{ end }}
                        }
                      </div>
                      <div id="create-event-json">
                        {{ $detachedData := (index $value.States 1).Data }}
                        Detach Event Data: { <br />
                          {{ range $key, $item :=  $detachedData }}
                            &emsp; {{ $key }}: {{ $item }},<br />
                          {{ end }}
                        }
                      </div>
                      <div id="create-event-json">
                        {{ $dischargedData := (index $value.States 2).Data }}
                        Discharge Event Data: { <br />
                          {{ range $key, $item :=  $dischargedData }}
                            &emsp; {{ $key }}: {{ $item }},<br />
                          {{ end }}
                        }
                      </div>
                    </div>
                    <div class="uk-modal-footer">
                      <button class="uk-button uk-button-primary uk-modal-close" type="button">Close</button>
                    </div>
                  </div>
                </div>
              {{ end }}
            </tbody>
          </table>
        </div>
      {{ else }}
        <p>Couldn't find any {{ .ComState }} `{{ $specName }}` commitments.</p>
      {{ end }}
    </div>
  </div>
</div>
{{end}}
