{{define "title"}}Home{{end}}

{{define "body"}}
<div class="uk-container">
  <h2 class="uk-heading-divider">Commitment Manager</h2>
  <form class="form" action="home.html" method="post">
    <div class="form-group">
      <label class="uk-form-label">Specification Name</label>
      <input class="uk-input" type="text" name="comname" placeholder="Search...">
      <label class="uk-form-label">State</label>
      <select class="uk-select" id="stateFormControl" name="commitmentState">
        <option value="created">Created</option>
        <option value="detached">Detached</option>
        <option value="discharged">Expired</option>
        <option value="violated">Discharged</option>
        <option value="expired">Violated</option>
        <option value="expired">All</option>
      </select>
    </div>
    <input type="hidden" name="submitted" value="true">
    <p uk-margin>
      <button class="uk-button uk-button-primary" type="submit">Search</button>
    </p>
  </form>

  {{ $specName := .SpecName }}
  {{ $state := .ComState }}
  {{ $createdData := .CreatedComData }}
  {{ $detachedData := .DetachedComData }}
  {{ $dischargedData := .DischargedComData }}

  <div class="commitments">
    <hr />
    {{ if not .Failed }}
      <div id="spec-summary">
        <strong>Spec Name:</strong> {{ $specName }}<br />
        <strong>Summary:</strong> {{ .SpecSummary }}
        <pre>{{ .SpecSource }}</pre>
        <hr />
      </div>
      <div class="uk-margin-large-bottom uk-card uk-card-default uk-card-body">
        <h5 class="uk-card-title">{{ .NumComs }} {{ .ComState }} {{ .SpecName }} commitment(s) found:</h5>
        <table class="uk-table uk-table-hover uk-table-divider uk-table-striped">
          <thead>
            <tr>
              <th>ID</th>
              <th>Debtor</th>
              <th>Creditor</th>
              <th>Date</th>
              <th>State</th>
            </tr>
          </thead>
          <tbody>
            {{ range $key, $value := .Coms }}
              <tr uk-toggle="target: #{{ $value.Record.debtor }}">
                <td>{{ $value.Record.comID }}</td>
                <td>{{ $value.Record.debtor }}</td>
                <td>{{ $value.Record.creditor }}</td>
                <td>{{ $value.Record.date }}</td>
                <td>
                  {{ if or (eq $state "Expired") (eq $state "Violated") }}
                    <span class="uk-label uk-label-danger">{{ $state }}</span>
                  {{ else }}
                    <span class="uk-label uk-label-success">{{ $state }}</span>
                  {{ end }}
                </td>
              </tr>
              <!-- Modal content -->
              <div id="{{ $value.Record.debtor }}" uk-modal>
                <div class="uk-modal-dialog">
                  <button class="uk-modal-close-default" type="button" uk-close></button>
                  <div class="uk-modal-header">
                    <h2 class="uk-modal-title">Commitment Data</h2>
                  </div>
                  <div class="uk-modal-body">
                    <div id="create-event-json">
                      Create Event: <br /> { <br />
                        {{ range $key, $item := $value.Record }}
                          &emsp; {{ $key }}: {{ $item }},<br />
                        {{ end }}
                      }
                    </div>
                    <div id="create-event-json">
                      Detach Event: <br /> { <br />
                        {{ range $key, $value := $detachedData }}
                          &emsp; {{ $key }}: {{ $value }},<br />
                        {{ end }}
                      }
                    </div>
                    <div id="create-event-json">
                      Discharge Event: <br /> { <br />
                        {{ range $key, $value := $dischargedData }}
                          &emsp; {{ $key }}: {{ $value }},<br />
                        {{ end }}
                      }
                    </div>
                  </div>
                  <div class="uk-modal-footer">
                    <button class="uk-button uk-button-primary uk-modal-close" type="button">Close</button>
                  </div>
                </div>
              </div>
            {{ end }}
          </tbody>
        </table>
      </div>
    {{ else }}
      <p>Couldn't find any {{ .ComState }} `{{ $specName }}` commitments.</p>
    {{ end }}
  </div>
</div>
{{end}}
