{{define "layout"}}
<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>CM - {{template "title"}}</title>
      <!-- UIkit CSS -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.25/css/uikit.min.css" />
      <!-- UIkit JS -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.25/js/uikit.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.25/js/uikit-icons.min.js"></script>
  </head>
  <body>
    <div class="uk-section-muted uk-padding-small uk-margin">
      <div class="uk-container">
        <a class="uk-logo" href="/home.html">Commitment Manager</a>
      </div>
    </div>
    <div class="uk-container">
      <main>
        {{template "body" .}}
      </main>
      <footer class="uk-section text-center">
        This is an example using the Hyperledger Fabric SDK Go developed by <a href="http://chainhero.io/">chainHero</a>.
        <br>
        Under the Apache License (version 2.0).
      </footer>
    </div>
    <script>
    UIkit.tab('').show(index);
    </script>
  </body>
</html>
{{end}}
