{{define "layout"}}
<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>CM - {{template "title"}}</title>
      <!-- UIkit CSS -->
      <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.25/css/uikit.min.css" /> -->
      <!-- UIkit JS -->
      <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.25/js/uikit.min.js"></script> -->
      <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.25/js/uikit-icons.min.js"></script> -->

      <script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>

      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
      <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>

      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/components/dropdown.min.css">
      <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/components/dropdown.min.js"></script>


  </head>
  <body>
    <div class="uk-section-muted uk-padding-small uk-margin">
      <div class="ui main text container">
        <h1 class="ui header">Commitment Manager</h1>
      </div>
    </div>
    <div class="uk-container">
      <main>
        {{template "body" .}}
      </main>
      <footer class="uk-section text-center">
        This is a modified example using the Hyperledger Fabric SDK Go developed by <a href="http://chainhero.io/">chainHero</a>.
        <br>
        Under the Apache License (version 2.0).
      </footer>
    </div>
    <script>
    $('#stateFormControl')
  .dropdown()
;
</script>
  </body>
</html>
{{end}}
