{{define "layout"}}
<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>CM - {{template "title"}}</title>
      <!-- UIkit CSS -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.25/css/uikit.min.css" />
      <!-- UIkit JS -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.25/js/uikit.min.js"></script>
  </head>
  <body>
    <div id="wrapper" style="display: flex; min-height: 100vh; flex-direction: column; justify-content: space-between;">
      <main>
        {{template "body" .}}
      </main>
      <footer class="uk-section text-center uk-section-muted uk-padding uk-margin-top">
        <div class="uk-container uk-container-xsmall">
          <p>This is a modified example using the Hyperledger Fabric SDK Go developed by <a href="http://chainhero.io/">chainHero</a>.
            <br>
            Under the Apache License (version 2.0).
          </p>
        </div>
      </footer>
    </div>
  </body>
</html>
{{end}}
