{{define "title"}}Merchant{{end}}

{{define "body"}}
<div class="uk-section-muted uk-padding-small uk-margin">
  <div class="uk-container uk-container-small uk-padding-small">
    <p class="uk-logo uk-margin-remove">Commitment Manager</p>
    <p class="uk-text-muted uk-margin-remove">Merchant Application</p>
    <button class="uk-button uk-button-link uk-margin-top" style="text-transform: capitalize;" uk-toggle="target: #addspec">Add Commitment Specification</button>
    <!-- Add Commitment Specification Modal Content -->
    <div id="addspec" uk-modal>
      <div class="uk-modal-dialog">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <div class="uk-modal-header">
          <h2 class="uk-modal-title">Add Commitment Specification</h2>
        </div>
        <div class="uk-modal-body">
          <form enctype="multipart/form-data" method="post">
            <p>Select Commitment Specification File:</p>
            <div uk-form-custom="target: true">
              <input type="file" name="uploadfile">
              <input class="uk-input uk-form-width-medium" value="upload file" type="text" placeholder="Select .quark file.." disabled>
            </div>
            <button class="uk-button uk-button-default">Add Spec</button>
            {{ if .CompilationFail }} 
              <p>Syntax Error: {{ .CompilationMsg }}</p>
            {{ end }}
          </form>
        </div>
      </div>
    </div>
    {{ if .Failed }}
      <div class="uk-alert-danger" uk-alert>
        <a class="uk-alert-close" uk-close></a>
        <p>{{ .FailMsg }}</p>
      </div>
    {{ else if .CompilationFail }}
      <div class="uk-alert-danger" uk-alert>
        <a class="uk-alert-close" uk-close></a>
        <p>Error compiling commitment specification</p>
      </div>
    {{ end }}
  </div>
</div>
{{ template "content" .}}
{{end}}
